app-testing-e2e/src/test/resources/wsdl/inbound.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:tns="http://atheor.com/schedule"
                  xmlns:s="http://www.w3.org/2001/XMLSchema"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  targetNamespace="http://atheor.com/schedule">

    <!-- ================================================================
         Types
         ================================================================ -->
    <wsdl:types>
        <s:schema elementFormDefault="qualified" targetNamespace="http://atheor.com/schedule">

            <!-- ---- Request ---- -->
            <s:complexType name="CreateScheduleRequestType">
                <s:sequence>
                    <s:element minOccurs="1" maxOccurs="1" name="scheduleId"   type="s:string"/>
                    <s:element minOccurs="1" maxOccurs="1" name="scheduleName" type="s:string"/>
                    <s:element minOccurs="1" maxOccurs="1" name="startDate"    type="s:string"/>
                    <s:element minOccurs="1" maxOccurs="1" name="endDate"      type="s:string"/>
                    <s:element minOccurs="0" maxOccurs="1" name="operations"   type="tns:OperationListType"/>
                </s:sequence>
            </s:complexType>

            <!-- ---- Response ---- -->
            <s:complexType name="CreateScheduleResponseType">
                <s:sequence>
                    <s:element minOccurs="1" maxOccurs="1" name="scheduleId"    type="s:string"/>
                    <s:element minOccurs="1" maxOccurs="1" name="status"        type="s:string"/>
                    <s:element minOccurs="0" maxOccurs="1" name="message"       type="s:string"/>
                    <s:element minOccurs="0" maxOccurs="1" name="correlationId" type="s:string"/>
                </s:sequence>
            </s:complexType>

            <!-- ---- Operations list (optional, embedded in request) ---- -->
            <s:complexType name="OperationListType">
                <s:sequence>
                    <s:element minOccurs="0" maxOccurs="unbounded" name="operation" type="tns:OperationType"/>
                </s:sequence>
            </s:complexType>

            <s:complexType name="OperationType">
                <s:sequence>
                    <s:element minOccurs="1" maxOccurs="1" name="operationId"   type="s:string"/>
                    <s:element minOccurs="1" maxOccurs="1" name="operationName" type="s:string"/>
                    <s:element minOccurs="1" maxOccurs="1" name="operationType" type="s:string"/>
                    <s:element minOccurs="0" maxOccurs="1" name="payload"       type="s:string"/>
                </s:sequence>
            </s:complexType>

            <!-- ---- Root elements ---- -->
            <s:element name="CreateScheduleRequest"  type="tns:CreateScheduleRequestType"/>
            <s:element name="CreateScheduleResponse" type="tns:CreateScheduleResponseType"/>

        </s:schema>
    </wsdl:types>

    <!-- ================================================================
         Messages
         ================================================================ -->
    <wsdl:message name="CreateScheduleSoapIn">
        <wsdl:part name="parameters" element="tns:CreateScheduleRequest"/>
    </wsdl:message>
    <wsdl:message name="CreateScheduleSoapOut">
        <wsdl:part name="parameters" element="tns:CreateScheduleResponse"/>
    </wsdl:message>

    <!-- ================================================================
         Port Type
         ================================================================ -->
    <wsdl:portType name="InboundServiceSoap">
        <wsdl:operation name="CreateSchedule">
            <wsdl:input  message="tns:CreateScheduleSoapIn"/>
            <wsdl:output message="tns:CreateScheduleSoapOut"/>
        </wsdl:operation>
    </wsdl:portType>

    <!-- ================================================================
         Binding  (SOAP 1.1 · document/literal)
         ================================================================ -->
    <wsdl:binding name="InboundServiceSoapBinding" type="tns:InboundServiceSoap">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>

        <wsdl:operation name="CreateSchedule">
            <soap:operation soapAction="http://atheor.com/schedule/createSchedule" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>

    </wsdl:binding>

    <!-- ================================================================
         Service  (placeholder path — actual URL from terraform output)
         ================================================================ -->
    <wsdl:service name="InboundService">
        <wsdl:port name="InboundServiceSoap" binding="tns:InboundServiceSoapBinding">
            <soap:address location="https://your-api-gateway-endpoint/soap/schedule"/>
        </wsdl:port>
    </wsdl:service>

</wsdl:definitions>
