app-testing-e2e/src/test/resources/schemas/CountryInfoService.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  XSD schema extracted from:
  http://webservices.oorsprong.org/websamples.countryinfo/CountryInfoService.wso?WSDL

  This file represents the SERVICE CONTRACT for the CountryInfoService.
  It is used by CountryInfoContractTest to validate that the live service
  still produces responses that conform to its published type definitions.

  Target namespace: http://www.oorsprong.org/websamples.countryinfo
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:tns="http://www.oorsprong.org/websamples.countryinfo"
           targetNamespace="http://www.oorsprong.org/websamples.countryinfo"
           elementFormDefault="qualified">

    <!-- ============================================================
         Primitive complex types
         ============================================================ -->

    <xs:complexType name="tContinent">
        <xs:sequence>
            <xs:element name="sCode" type="xs:string"/>
            <xs:element name="sName" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="tCurrency">
        <xs:sequence>
            <xs:element name="sISOCode" type="xs:string"/>
            <xs:element name="sName"    type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="tLanguage">
        <xs:sequence>
            <xs:element name="sISOCode" type="xs:string"/>
            <xs:element name="sName"    type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="tCountryCodeAndName">
        <xs:sequence>
            <xs:element name="sISOCode" type="xs:string"/>
            <xs:element name="sName"    type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="tCountryInfo">
        <xs:sequence>
            <xs:element name="sISOCode"      type="xs:string"/>
            <xs:element name="sName"         type="xs:string"/>
            <xs:element name="sCapitalCity"  type="xs:string"/>
            <xs:element name="sPhoneCode"    type="xs:string"/>
            <xs:element name="sContinentCode" type="xs:string"/>
            <xs:element name="sCurrencyISOCode" type="xs:string"/>
            <xs:element name="sCountryFlag"  type="xs:string"/>
            <xs:element name="Languages"     type="tns:ArrayOftLanguage"/>
        </xs:sequence>
    </xs:complexType>

    <!-- ============================================================
         Array types
         ============================================================ -->

    <xs:complexType name="ArrayOftContinent">
        <xs:sequence>
            <xs:element name="tContinent" type="tns:tContinent" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="ArrayOftCurrency">
        <xs:sequence>
            <xs:element name="tCurrency" type="tns:tCurrency" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="ArrayOftLanguage">
        <xs:sequence>
            <xs:element name="tLanguage" type="tns:tLanguage" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="ArrayOftCountryCodeAndName">
        <xs:sequence>
            <xs:element name="tCountryCodeAndName" type="tns:tCountryCodeAndName"
                        minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="ArrayOftCountryInfo">
        <xs:sequence>
            <xs:element name="tCountryInfo" type="tns:tCountryInfo"
                        minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <!-- ============================================================
         Operation response elements
         ============================================================ -->

    <!-- FullCountryInfo -->
    <xs:element name="FullCountryInfoResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="FullCountryInfoResult" type="tns:tCountryInfo"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- FullCountryInfoAllCountries -->
    <xs:element name="FullCountryInfoAllCountriesResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="FullCountryInfoAllCountriesResult" type="tns:ArrayOftCountryInfo"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- ListOfCountryNamesByName -->
    <xs:element name="ListOfCountryNamesByNameResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="ListOfCountryNamesByNameResult" type="tns:ArrayOftCountryCodeAndName"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- ListOfCountryNamesByCode -->
    <xs:element name="ListOfCountryNamesByCodeResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="ListOfCountryNamesByCodeResult" type="tns:ArrayOftCountryCodeAndName"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- CountryName -->
    <xs:element name="CountryNameResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="CountryNameResult" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- CountryFlag -->
    <xs:element name="CountryFlagResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="CountryFlagResult" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- CountryCurrency -->
    <xs:element name="CountryCurrencyResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="CountryCurrencyResult" type="tns:tCurrency"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- CountryISOCode -->
    <xs:element name="CountryISOCodeResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="CountryISOCodeResult" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- CapitalCity -->
    <xs:element name="CapitalCityResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="CapitalCityResult" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- CountryIntPhoneCode -->
    <xs:element name="CountryIntPhoneCodeResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="CountryIntPhoneCodeResult" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- ContinentName -->
    <xs:element name="ContinentNameResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="ContinentNameResult" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- ListOfContinentsByName -->
    <xs:element name="ListOfContinentsByNameResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="ListOfContinentsByNameResult" type="tns:ArrayOftContinent"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- ListOfContinentsByCode -->
    <xs:element name="ListOfContinentsByCodeResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="ListOfContinentsByCodeResult" type="tns:ArrayOftContinent"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- ListOfCurrenciesByName -->
    <xs:element name="ListOfCurrenciesByNameResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="ListOfCurrenciesByNameResult" type="tns:ArrayOftCurrency"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- ListOfLanguagesByName -->
    <xs:element name="ListOfLanguagesByNameResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="ListOfLanguagesByNameResult" type="tns:ArrayOftLanguage"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- CountriesUsingCurrency -->
    <xs:element name="CountriesUsingCurrencyResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="CountriesUsingCurrencyResult" type="tns:ArrayOftCountryCodeAndName"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- Generic wrapper element used by ContractTest to wrap extracted Body content -->
    <xs:element name="root">
        <xs:complexType>
            <xs:sequence>
                <xs:any minOccurs="0" maxOccurs="unbounded" processContents="lax"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>
